<div class="info-bar">
  <div class="info-bar__inner container">

    <!-- Contatti -->
    <div class="info-col">
      <h4 class="info-col__title">CONTATTI</h4>
      <ul class="info-col__list">
        <li>
          <mat-icon>phone</mat-icon>
          <span>
            <a href="tel:+390702079940">070 2079940</a>
            &nbsp;·&nbsp;
            <a href="tel:+393391969098">339 196 9098</a>
          </span>
        </li>
        <li>
          <mat-icon>email</mat-icon>
          <a href="mailto:aeffelab22@gmail.com">aeffelab22&#64;gmail.com</a>
        </li>
        <li>
          <mat-icon>location_on</mat-icon>
          <span>Viale Salvatore Cottoni, 44<br>07037 Sorso (SS)</span>
        </li>
      </ul>
    </div>

    <div class="info-divider"></div>

    <!-- Orari -->
    <div class="info-col">
      <h4 class="info-col__title">ORARI DI APERTURA</h4>
      <ul class="info-col__orari">
        <li>
          <span>Centro medico (Lun – Ven)</span>
          <span class="orario-val">09:00 – 19:30</span>
        </li>
        <li>
          <span>Sabato e Domenica:</span>
          <span>Chiuso</span>
        </li>
      </ul>
    </div>

  </div>
</div>
